<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HIKI</title>
</head>
<body>
    <header>
        <div class="h1">H I K I</div> 
        
        <div class="LinkDiv">
            <a class="Link " href="/">Hjem</a>
            <a class="Link" href="{{url_for ('Manualer')}}">Manualer</a>
            <a class="Link" href="{{url_for ('kontakt')}}">Kontakter</a>
            <a class="link" href="{{url_for ('Om_oss')}}">Om oss</a>
        </div>
    </header>

    <div class="OmHiki">
        <h1>Om oss</h1>
        <p>Hos HIKI er vi dedikert til å tilby pålitelig hjelp og veiledning innen informasjonsteknologi. Vi forstår hvor viktig det er med rask og effektiv støtte når teknologien ikke fungerer som den skal – enten du er en privatperson, student eller representerer en virksomhet.
            Vårt erfarne team står klare til å bistå deg både via telefon og e-post, og tilbyr støtte innen alt fra brukerveiledninger og feilsøking til mer avansert driftshjelp. Enten du trenger hjelp med programvare, maskinvare, nettverk eller IT-sikkerhet, er vi her for å gjøre teknologien enklere og mer tilgjengelig for deg.
            Vi jobber kontinuerlig med å utvikle og forbedre våre tjenester for å sikre at du får den hjelpen du trenger – når du trenger den. Hos Hiki får du ikke bare teknisk støtte, men også veiledning og opplæring slik at du føler deg trygg i den digitale hverdagen.
            </p>

    </div>

        
        
<body>